{{ chapter('Symfony 2', 'symfony-2') }}

<div class="slide">
{{ part('Présentation') }}
<p>
    <b>Symfony 2</b> est un <i>framework</i> web, c'est à dire un outil très complet permettant
de réaliser des applications web.
</p>
<p class="discover">
    D'après son créateur <b>Fabien Potencier</b>, Symfony 2 est en fait plus un rassemblement
de bibliothèques et de composants tous fortement découplés assemblées et paramétrés pour fonctionner ensemble.
</p>
<p class="discover">
    En effet, <b>Symfony 2</b> se base notamment sur&nbsp;:
</p>
<ul>
    <li class="discover">Doctrine pour requêter la base de données</li>
    <li class="discover">Twig pour le rendu de ses templates</li>
    <li class="discover">SwiftMailer pour l'envoi d'e-mails</li>
</ul>
</div>

<div class="slide">
<h3>Installation</h3>
<p>
    <b>Symfony 2</b> se base sur <b>composer</b> pour organiser ce rassemblement de composants. <span class="textOnly">Cet outil
déjà présenté précédemment dans ce cours permet de gérer les dépendances entre les différents composants.</span>
</p>
<p class="textOnly">
   Il est possible de créer un projet <b>Symfony 2</b> à l'aide de la commande&nbsp;: 
</p>
<div class="discover">
{{ highlightString('composer.phar create-project symfony/framework-standard-edition', 'bash') }}
</div>
<p class="discover">
    <b>Composer</b> va alors chercher toutes les dépendances nécéssaire et vous créer un projet <b>Symfony 2</b> vide
</p>
</div>

<div class="slide">
<h3>Utilisation</h3>
<p>
    L'utilisation du <i>framework</i> est technique et fait appel à de nombreux principes et outils.
</p>

<p class="discover">
    Ce cours n'ayant pas pour but de répeter l'excellente <a href="http://symfony.com/">documentation officielle</a>,
nous allons seulement survoler les principes à connaître, et nous les appliquerons en TD par la suite.
</p>
</div>

<div class="slide">
{{ part('Communauté') }}
<h3>Organisation</h3>
<img src="{{ image('img/github.png').resize('60%').png() }}" style="float:right" />
<p> 
    <i>GitHub</i> joue un rôle extrêmement important dans l'organisation du développement de <b>Symfony 2</b> et
de ses composants.
</p>
<p class="discover">
    Aujourd'hui, la mailing list des développeurs risque même d'être fermée au profit du suivi d'anomalies de
<i>GitHub</i>
</p>
</div>

<div class="slide">
<h3>Bundles</h3>
<img src="{{ image('img/package.png').resize('80%').png() }}" style="float:right" /> 
<p>
    <b>Symfony 2</b> est basé sur un "coeur" d'application, nommé le <i>Kernel</i>, c'est le noyau de votre
application.
    Auprès de ce noyau sont enregistrés des <i>Bundles</i>, (ou "paquets") qui sont en fait des composants.
Le framework est alors livré avec de nombreux bundle (templating, ORM, gestion des formulaires etc.).
</p>
<p class="discover">
    Un <i>bundle</i> peut proposer de nombreuses choses, vues, contrôleurs, entités pour la base de données, services etc.
</p>
<p class="discover">
    Tout le code que vous écrirez sera dans un ou plusieurs <i>bundle</i>. Si vous souhaitez factoriser des fonctionnalités
d'un de vos sites à l'autre, vous pouvez les regrouper dans un <i>bundle</i> indépendant.
</p>
</div>

<div class="slide">
<h3>Des composants à la carte</h3>
<p>
    Les composants de base du framework peuvent être remplaçés par d'autre (pour changer la version par exemple).
</p>
<p class="discover">
    De nombreux <i>bundles</i> open-source peuvent être trouvés, sur <i>GitHub</i>.
</p>
<p class="discover">
    On pourra citer par exemple le <i>FOSUserBundle</i>, qui permet de simplifier la gestion des utilisateurs d'un
site (inscription, identification, rappel du mot de passe etc.).
</p>
</div>

<div class="slide">
{{ part('Les templates') }}
<h3>Présentation</h3>
<img src="{{ image('img/twig.png').resize('40%') }}" style="float:right" />
<p>
    <b>Symfony 2</b> est livré avec un très bon système de templates nommé <i>Twig</i>.
</p>
<p class="textOnly">
    Ce système permet
de simplifier de donner une grande puissance à l'écriture des vues, c'est à dire du contenu des pages HTML
qui seront rendues.
</p>
<p class="discover">
    <i>Twig</i> supporte l'héritage, l'échappement par défaut et de nombreuses astuces syntaxiques
pour simplifier l'écriture des <i>templates</i>.
</p>
</div>

<div class="slide">
<h3>Utilisation</h3>
<p>
   Voici un exemple de template&nbsp;: 
</p>
{{ highlight('files/06/index.html.twig', 'php') }}
<p class="textOnly">
    Comme vous le voyez, <i>Twig</i> permet d'écrire des documents directements en HTML, à l'exception de certain
tags qui permettent d'y ajouter de la structure, à l'instar du <b>PHP</b>.
</p>
<p class="textOnly">
    Dans cet exemple&nbsp;:
</p>
<ul class="textOnly">
    <li><code>&#123;% block contents %&#125;</code> est un bloc qui pourra être surchargé dans les templates filles</li>
    <li><code>&#123;% block('title') %&#125;</code> sert à ré-afficher le contenu du block title précédement utilisé</li>
    <li><code>&#123;&#123; name &#125;&#125;</code> correspond à l'affichage d'une variable</li>
</ul>
</div>

<div class="slide">
<h3>Héritage</h3>
<p>
    La template précédente peut être héritée comme cela&nbsp;:
</p>
{{ highlight('files/06/page.html.twig', 'php') }}
<p class="textOnly">
    Le mot clé <code>extends</code> permet de décrire que cette page hérite de <code>index.html.twig</code>, de la même
manière que l'héritage des classes votre template se basera alors sur cette template mère et pourra redéfinir son
comportement.
</p>
<p class="textOnly">
    Les blocs peuvent alors être surchargés, c'est à dire modifié en les redéfinissant. Il est aussi possible d'utiliser
le mot clé <code>parent()</code> pour faire appel à la template mère et utiliser son contenu, comme dans le cas du titre
qui deviendra ici "Mon titre - Ma page"
</p>
</div>

<div class="slide">
<h3>Boucles, conditions</h3>
<p>
    Il est également possible d'effectuer des tests et des boucles avec Twig&nbsp;:
</p>
{{ highlight('files/06/cond.html.twig', 'php') }}
<p class="discover">
    Pour une documentation plus exhaustive, vous pouvez consulter la <a href="http://twig.sensiolabs.org/documentation">
documentation officielle de Twig</a>
</p>
</div>

{{ annex('tds/td6.html.twig') }}
