{{ chapter('TD3', 'td3') }}

<h2>Préparation</h2>
<p>
    Vous trouverez l'ensemble du code de ce TD dans <a href="files/td3.zip">td3.zip</a>.
Vous aurez besoin de déployer son contenu sur un espace web disposant de l'intérpréteur
<b>PHP</b>. 
</p>

{{ part('Exercice 1 : un peu de conception') }}

<p>
    Une plateforme d'hébergement et de distribution de fichiers souhaite pouvoir héberger
des médias. Il en existe principalement trois sortes, des images, des musiques et des vidéos.
Ces trois sortes sont traités de manière différentes, mais pour chacun, on connaît un nom et il est
possible de les jouer à l'aide de la fonction <code>play()</code>.<br />
    Les musiques et les vidéos ont une durée dans le temps et peuvent être diffusées en streaming.<br />
    Enfin, les utilisateurs peuvent constituer des playlists composées de plusieurs médias.<br />
    Les playlists sont hiérarchiques, c'est à dire qu'une playlist peut être ajoutée à une autre playlist.
</p>

<div class="step">
<p>
    <h3>Conception</h3>
    Dessinez un schéma d'architecture de classes qui pourrait être utilisée ici
</p>
</div>

<div class="step">
<p>
    <h3>Lecture du test</h3>
    Lisez le code suivant, vous devrez alors écrire les classes correspondantes afin de le faire fonctionnel tel quel:
</p>

<p>
    <div class="spoiler">
    {{ highlight('files/03/execution.php') }}
    </div>
</p>
</div>

<div class="step">
<p>
    <h3>Code</h3>
    Ecrivez enfin les classes. Bien entendu, vous n'implémenterez pas réellement la lecture ou
la diffusion en streaming mais effectuerai des sorties écran, le test ci-dessus pourrait générer
une sortie de la forme suivante&nbsp;:
</p>
<p>
    {{ highlightString('    P2
    | Stairway to heaven (audio)
    |  P1
    |  | Matrix (vidéo)
    |  | Joconde (image)

    [Vidéo] Lecture de Matrix', 'html') }}
</p>
</div>

{{ part('Exercice 2 : une arène') }}

Lisez et déployez le code du dossier <code>arena/</code>.

<h3>Compréhension</h3>
<p>
    Tout d'abord, testez et lisez le code source.
</p>

{% set n = 1 %}

<div class="step">
<p>
    <b>{{ n }}{% set n = n+1 %}. Persistence</b><br />
    Comment les données du combat sont t-elles persistées d'une requête sur l'autre ?<br />
    Quels sont les avantages/défauts de cette technique ?
</p>
</div>

<div class="step">
<p>
    <b>{{ n }}{% set n = n+1 %}. Opérateur ?:</b><br />
    Remarquez l'utilisation de l'opérateur <code>?:</code>, à quoi sert t-il ?
</p>
</div>

<div class="step">
<p>
    <b>{{ n }}{% set n = n+1 %}. Chargement des classes</b><br />
    Remarquez que les fichiers des classes (comme <code>Arena\Creature\Elf.php</code>)
ne sont jamais inclus nulle part explicitement.<br />
    En lisant le code et en regardant notamment la documentation de 
<a href="http://fr2.php.net/manual/fr/function.spl-autoload-register.php">
spl_autoload_register()</a>, découvrez comment l'inclusion est faite.<br />
    <br />
    Ce système permet de bénéficier d'une grande souplesse lors de l'écriture de code 
et d'éviter beaucoup de problèmes tout en bénéficiant d'une inclusion "fainéante", c'est
à dire uniquement des classes utilisées dans l'application.
</p>
</div>

<h3>Classes</h3>

<div class="step">
<p>
    A partir du code source, dessinez un diagramme de classes représentant l'architecture utilisée.
</p>
</div>

<h3>Quelques modifications</h3>

{% set n = 1 %}

<div class="step">
<p>
    <b>{{ n }}{% set n = n+1 %}. Ajout de la description des attaques</b><br />
    Ajouter une description aux attaques à l'aide d'une méthode <code>getDescription()</code> que
vous surchargerez dans chaque classe. La description devra être visible à coté des
actions réalisables.
</p>
</div>

<div class="step">
<p>
    <b>{{ n }}{% set n = n+1 %}. Ajout d'une créature</b><br />
    En vous inspirant des créatures déjà existantes, ajoutez une créature <code>Vampire</code>
disposant des attaques <code>Tackle</code> et <code>Vampirism</code>.
</p>
<p>
    Pour tester, vous pourrez alors changer l'initialisation du combat (cf <code>createFight</code>
dans <code>controller.php</code>) pour remplacer un des combattant par un vampire.
</p>
</div>

<div class="step">
<p>
    <b>{{ n }}{% set n = n+1 %}. Ajout des «PP»</b><br />
    Remarquez que, pour l'instant, il n'est pas très intéréssant d'instancier les attaques. Vous
allez maintenant implémenter les «PP», ou Points de Pouvoir. Chaque attaque dispose d'un certain
nombre dont vous déciderez la quantité, et à chaque utilisation, ce nombre sera diminué. Lorsque
cette quantité atteindra zéro, il ne sera plus possible d'effectuer l'attaque.
</p>
</div>

<h3>Incorporation d'un logger</h3>

<div class="step">
<p>
    Comme vous pourrez l'observer, les attaques sont actuellement muettes, nous aimerions pouvoir
logger ce qu'elles font afin d'afficher un message explicitant ce qui s'est passé. Pour cela, modifiez
le code de <code>Fight</code> pour qu'il puisse accepter un logger comme cela&nbsp;:
</p>

{{ highlight('files/03/logger.php') }}

<p>
    Par la suite, chaque attaque pourra retourner une chaîne décrivant le mouvement (vous êtes libres
d'ajouter quelques règles) qui sera loggée par le fighter. Modifier alors la page en utilisant la 
méthode <code>getEntries()</code> sur le logger pour afficher l'ensemble des actions effectuées.
</p>

<p>
    Attention, votre logger ne doit pas être sérialisé ! Il faudra pour cela utiliser la méthode magique
<code><a href="http://php.net/__sleep">__sleep()</a></code> de <b>PHP</b>
</p>
</div>

{{ part('Exercice 3 : Le routeur') }}

Un routeur est un composant clé dans une application web, car il est responsable de l'attribution
des requêtes à une certaine méthode (ou contrôlleur). Lisez le code contenu dans le dossier <code>router/</code>.

<h3>Compréhension</h3>

{% set n = 1 %}

<div class="step">
<b>{{ n }}{% set n = n+1 %}. PATH_INFO</b><br />
<p>
    A l'aide de la page de documentation de la variable <a href="http://php.net/_SERVER">$_SERVER</a>,
comprenez ce qu'est le <code>PATH_INFO</code> et comment il fonctionne.
</p>
</div>

<div class="step">
<b>{{ n }}{% set n = n+1 %}. Arguments</b><br />
<p>
    A quoi sert le <code>\</code> devant <code>\Closure</code> ? Indice : enlevez le et observez les
erreurs.
</p>
</div>

<div class="step">
<b>{{ n }}{% set n = n+1 %}. extract</b><br />
<p>
    Observez de plus près la méthode <code>render()</code>, à quoi sert la méthode <code>extract()</code> ?
</p>
</div>

<div class="step">
<b>{{ n }}{% set n = n+1 %}. call_user_func_array</b><br />
<p>
    Souvenez vous du premier TD et de la méthode <code>call_user_func_array()</code>, qui est utilisée ici,
consultez éventuellement la documentation à nouveau pour en comprendre le fonctionnement.
</p>
</div>

<h3>Intégration</h3>

<div class="step">
<p>
    Créez un nouveau dossier en copiant <code>arena/</code> et incluez y le routeur pour effectuer les
actions au lieu d'utiliser les paramètres <code>GET</code>.
</p>

<p>
    <em>Note: il ne vous est pas demandé d'utiliser des templates, mais uniquement de mettre en place
le routeur dans le code de l'exercice précédent, cette intégration peut en fait être réalisée en quelques
minutes.</em>
</p>
</div>

