{{ chapter('TD6', 'td6') }}

<p>
    Au cours de ce TP en plusieurs parties, nous allons créer une petite application de gestion de commande de
pizzas.
</p>

<div class="slide step">
{{ part('Installation de Symfony 2') }}
<h3>Etape 1&nbsp;: récupérer les fichiers</h3>
<p>
    La meilleure solution afin d'installer Symfony 2 est de passer par composer. Pour cela,
installez tout d'abord composer quelque part et utilisez la commande <code>create-project</code>&nbsp;:
</p>
{{ highlightString('composer.phar create-project symfony/framework-standard-edition symfony', 'bash') }}
<p>
    Composer va alors travailler un moment et vous déploiera le framework dans le dossier <code>symfony/</code>.
</p>
</div>

<div class="step">
<div class="slide">
<h3>Etape 2&nbsp;: configurez les droits</h3>
<p>
    Vous devrez donner les droits aux serveurs en écriture dans les dossiers <code>app/cache</code> et
<code>app/logs</code>&nbsp;:
</p>
{{ highlightString('chmod -R 777 app/cache/ app/logs/', 'bash') }}
<p>
    Dans le cas ou vous ne travaillez pas sur votre propre machine, il faudra éventuellement modifier le 
fichier <code>web/app_dev.php</code> pour pouvoir y accéder. Editez le et enlevez la vérification sur l'IP.
<i>Attention, cette installation rendra par la suite votre application très vulnérable d'un point de vue de sa
sécurité, ce n'est pas un bon comportement en production.</i>
</p>
<p>
    Chargez la page <code>web/app_dev.php</code> dans un navigateur et vérifiez que vous obtenez bien la page
"Symfony - Welcome".
</p>
</div>

<div class="slide">
<center>
<img src="{{ image('img/sfwelcome.png').resize('80%').jpeg() }}" />
</center>
</div>
</div>

<div class="slide step">
<h3>Etape 3&nbsp;: créer votre Bundle</h3>
<p>
    Une application Symfony réside dans un <i>Bundle</i>, ou un "Paquet" en français. Avant de
commencer à écrire votre code, vous devrez donc créer votre propre Bundle.
</p>
<p class="textOnly">
    La version standard de Symfony est fournie avec un Bundle de démo (<code>AcmeDemoBundle</code>,
situé dans <code>src/Acme/DemoBundle</code>). C'est ce dernier qui vous a accueilli. Afin de le
désactiver, éditez le fichier <code>app/config/routing_dev.yml</code> et enlevez les trois premières
sections qui concernent <code>Acme</code>.
</p>
<p>
    Créez maintenant votre Bundle, appellons le <code>PizzaBundle</code> et plaçons le sous le
nom de vendeur <code>Student</code>&nbsp;:
</p>
{{ highlightString('php app/console generate:bundle', 'bash') }}
<p>
    Répondez alors <code>Student/PizzaBundle</code> à la première question qui vous sera posée, et
laissez les autre valeurs par défaut. Utilisez le format <code>annotation</code> pour la configuration.
</p>
</div>

<div class="slide step">
<h3>Etape 4&nbsp;: Hello world</h3>
<p>
    Regardez le fichier <code>app/config/routing.yml</code>, il contient théoriquement une nouvelle section
qui signifie que votre Bundle sera utilisée par annotation pour le routage.
</p>
<p>
    Le code de votre Bundle se situe désormais dans <code>src/Student/PizzaBundle/</code>, regardez les
différents fichiers qu'il contient, notamment <code>Controller/DefaultController.php</code> et 
<code>Resources/views/Default/index.html.twig</code>.
</p>
<p>
    Chargez la page <code>app_dev.php/hello/world</code>, constatez alors ce qui se passe.
</p>
</div>

{{ part('Création de la structure') }}
<p>
    Nous allons maintenant créer une structure de site web. Afin de ne pas perdre de temps à réaliser des
graphismes ou des feuilles de styles, une page d'exemple est fournie dans <a href="files/td6.zip">les sources de ce TD</a>, dans
le dossier <code>design/</code>.
</p>
<div class="step">
<h3>Création du layout</h3>
<p>
    Pour commencer, créez un layout principal <code>layout.html.twig</code> contenant la structure générale du 
site. Placez la feuille de style et les images dans le dossier <code>web/</code> de Symfony et utilisez la
fonction <code>asset()</code> de Twig pour inclure <code>style.css</code>. Vous pourrez par exemple placer un
block <code>contents</code> à l'intérieur de votre page. Pour une documentation exhaustive, vous pouvez vous
référer à la <a href="http://symfony.com/doc/current/book/templating.html">documentation "Templating"</a> de
Symfony.
</p>
</div>


